html{
	height: 100%;
}
body
{
	background-image: url("../img/shadow.png");
	position:absolute; top:0; bottom:0; right:0; left:0;
	width: 100%;
	min-height: 100%;
	margin: 0
}

#scena
{
	position:relative;
	perspective: 1000px;
	width: 500px;
	height: 500px;
	margin: 230px;
	
	
}

#cube
{
	position:absolute;
	transform-style: preserve-3d;
	width: 100%;
	height: 100%;
	animation:example 10s ease-out alternate;
	
	
	
}

.Wall
{
	position: absolute;
	width: 100%;
	height: 100%;
	
	font-size: 400px;
	text-align: center;
	line-height: 500px;
	opacity: 0.8;
		
	
	
}



#FrontWall{
	
	background: #05668D;
	transform:translateZ(270px);
	border: 20px solid #50514F;
	
}

#BackWall{
	background: #028090;
	transform:rotateX(180deg) translateZ(270px);
	border: 20px solid #F25F5C;
	
}

#RightWall{
	background: #00A896;
	transform:rotateY(-90deg) translateZ(-270px);
	border: 20px solid #FFE066;
	
}

#LeftWall{
	background: #02C39A;
	transform: rotateY(90deg) translateZ(-270px);
	border: 20px solid #247BA0;
	
	
}

#TopWall{
	background: #F0F3BD;
	transform: rotateX(90deg) translateZ(270px);
	border: 20px solid #70C1B3;
}

#BotomWall{
	background: #03384D;
	transform: rotateX(90deg) translateZ(-270px);
	border: 20px solid #335116;
}


/****ANIMATION****/


@keyframes example{
	fromm { }
	to{transform:rotateY(360deg) rotateX(360deg);}
}




















